<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
<link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/main.css" rel="stylesheet" type="text/css">
</head>

<body>
<div>
  <section id="Main">
    <div id="Header">
      <div align="left"><table width="100%" border="0">
  <tbody>
    <tr>
      <td><div><div align="left">COMMUNICATIONS</div></td>
      <td><div><div align="left" class="animated fadeInLeft" id="long-bar"><img src="/images/long-bar.png" width="60%" height="32" alt=""/></div></td>
    </tr>
  </tbody>
</table>
</div>
      <div id="Buttons"><table width="100%" height="50%" border="0">
  <tbody>
    <tr>
      <td width="288"><div><div class="animated fadeInLeft" id="menu-curve-a"><img src="/images/menu-curve-a.png" width="288" height="183"/><img src="/images/menu-curve-b.png" width="100%" height="107"/></div></td>
      <td><table width=100%" height="100%" border="0">
  <tbody>
    <tr>
      <td height="32"><div><div class="animated fadeInLeft" id="short-bar"><img src="/images/short-bar.png" align="top" width="100%" height="32" alt=""/></div></td>
    </tr>
    <tr>
      <td height="95%"><table width="100%" border="0">
  <tbody>
    <tr>
      <td><div><div class="button animated fadeInLeft btnBlue2" id="shuttle1button1">Prepare Shuttle 1</div>
	<div class="button btnBlue2 btnCollapse" id="shuttle1button2">Prepping Shuttle 1</div>
	<div class="button btnBlue2 btnCollapse" id="shuttle1button3">Launch Shuttle 1</div>
	<div class="button btnBlue2 btnCollapse" id="shuttle1button4">Recall Shuttle 1</div>
    </div></td>
      <td><div><div class="button animated fadeInLeft btnBlue1" id="shuttle2button1">Prepare Shuttle 2</div>
	<div class="button btnBlue1 btnCollapse" id="shuttle2button2">Prepping Shuttle 2</div>
	<div class="button btnBlue1 btnCollapse" id="shuttle2button3">Launch Shuttle 2</div>
	<div class="button btnBlue1 btnCollapse" id="shuttle2button4">Recall Shuttle 2</div>
    </div></td>
	</tr>
	<tr>
      <td><div><div class="button animated fadeInLeft btnBlue1" id="shuttle3button1">Prepare Shuttle 3</div>
	<div class="button btnBlue1 btnCollapse" id="shuttle3button2">Prepping Shuttle 3</div>
	<div class="button btnBlue1 btnCollapse" id="shuttle3button3">Launch Shuttle 3</div>
	<div class="button btnBlue1 btnCollapse" id="shuttle3button4">Recall Shuttle 3</div>
    </div></td>
      <td><div><div class="button animated fadeInLeft btnBlue2" id="shuttle4button1">Prepare Shuttle 4</div>
	<div class="button btnBlue2 btnCollapse" id="shuttle4button2">Prepping Shuttle 4</div>
	<div class="button btnBlue2 btnCollapse" id="shuttle4button3">Launch Shuttle 4</div>
	<div class="button btnBlue2 btnCollapse" id="shuttle4button4">Recall Shuttle 4</div>
    </div></td>
	</tr>
	<tr>
      <td><div><div class="button animated fadeInLeft btnBlue2" id="shuttle5button1">Prepare Shuttle 5</div>
	<div class="button btnBlue2 btnCollapse" id="shuttle5button2">Prepping Shuttle 5</div>
	<div class="button btnBlue2 btnCollapse" id="shuttle5button3">Launch Shuttle 5</div>
	<div class="button btnBlue2 btnCollapse" id="shuttle5button4">Recall Shuttle 5</div>
    </div></td>
      <td><div><div class="button animated fadeInLeft btnBlue1" id="shuttleallbutton1">Prep All Shuttles</div>
	<div class="button btnBlue1 btnCollapse" id="shuttleallbutton2">Prepping Shuttles</div>
	<div class="button btnBlue1 btnCollapse" id="shuttleallbutton3">Launch All Shuttles</div>
	<div class="button btnBlue1 btnCollapse" id="shuttleallbutton4">Recall All Shuttles</div>
    </div></td>
    </tr>
  </tbody>
</table>
</td>
    </tr>
  </tbody>
</table>
</td>
      <td><table width="100%" height="100%" border="0">
  <tbody>
    <tr>
      <td height="32"><div><div class="animated fadeInLeft" id="short-bar"><img src="/images/short-bar.png" align="top" width="100%" height="32" alt=""/></div></td>
    </tr>
    <tr>
      <td height="95%"><table width="100%" border="0">
  <tbody>
    <tr>
      <td><div><div class="button animatedstaticbuttons1 flash1 btnBlue1" id="static1">HL1K VGH</div></td>
	  <td><div><div class="button animatedstaticbuttons3 flash3 btnBlue2" id="static1">HL2C JU7</div></td>
	  </td>
	  </tr>
	  <tr>
      <td><div><div class="button animated fadeInLeft btnBlue2" id="static1">RA543 JG</div></td>
	  <td><div><div class="button animatedstaticbuttons3 flash3 btnBlue1" id="static1">RA663 HIU</div></td>
	  </td>
	  </tr>
	  <tr>
      <td><div><div class="button animatedstaticbuttons1 flash1 btnBlue2" id="static1">HIYA 127</div></td>
	  <td><div><div class="button animated fadeInLeft btnBlue2" id="static1">HIYA JUG</div></td>
	  </td>
	  </tr>
	  </tbody>
	  </table>
    </tr>
  </tbody>
</table>
</td>
<td><table width="100%" height="100%" border="0">
  <tbody>
    <tr>
      <td height="32"><div><div class="animated fadeInLeft" id="short-bar"><img src="/images/short-bar.png" align="top" width="100%" height="32" alt=""/></div></td>
    </tr>
    <tr>
      <td height="95%"><table width="100%" border="0">
  <tbody>
    <tr>
      <td><div><div class="button animatedstaticbuttons1 flash1 btnBlue2" id="static1">HL1K VGH</div></td>
	  <td><div><div class="button animatedstaticbuttons2 flash2 btnBlue1" id="static1">HL2C JU7</div></td>
	  </td>
	  </tr>
	  <tr>
      <td><div><div class="button animated fadeInLeft btnBlue1" id="static1">RA543 JG</div></td>
	  <td><div><div class="button animatedstaticbuttons2 flash2 btnBlue2" id="static1">RA663 HIU</div></td>
	  </td>
	  </tr>
	  <tr>
      <td><div><div class="button animatedstaticbuttons1 flash1 btnBlue2" id="static1">HIYA 127</div></td>
	  <td><div><div class="button animated fadeInLeft btnBlue1" id="static1">HIYA JUG</div></td>
	  </td>
	  </tr>
	  </tbody>
	  </table>
    </tr>
  </tbody>
</table>
	  </td>
    </tr>
  </tbody>
</table>
</td>
    </tr>
    <tr>
      <td width="288"><div><div class="animated fadeInLeft" id="menu-bar"><img src="/images/menu-bar-a.png" width="142" height="138" alt=""/><img src="/images/menu-blank.png" width="144" height="138" alt=""/><img src="/images/menu-bar-b.png" width="142" height="138" alt=""/></div></td>
      <td height="100%"><table width="100%" height="100%" border="0">
  <tbody>
  </td>
    <tr>
      <td height="50%"><table width="100%" height="100%" border="0">
  <tbody>
  </td>
    </tr>
    <tr>
      <td height="50%"><table width="100%" height="100%" border="0">
  <tbody></td>
    </tr>
  </tbody>
</table>
</td>
      <td height="100%"><table width="100%" height="100%" border="0">
  <tbody>
    <tr>
      <td height="50%"></td>
    </tr>
    <tr>
      <td height="50%"></td>
    </tr>
  </tbody>
</table>
</td>
<td height="100%"><table width="100%" height="100%" border="0">
  <tbody>
    <tr>
      <td height="50%"></td>
    </tr>
    <tr>
      <td height="50%"></td>
    </tr>
  </tbody>
</table>
</td>
    </tr>
  </tbody>
</table>
</div>
    </div>
  </section>
</div>
 <script src="/javascripts/jquery-1.10.2.min.js"></script>
  <script src="/javascripts/button.js"></script>
</body>
</html>
